@import url(../styles/style.css);

/// colors
$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$accent: #F0145A;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$basic-black: #000;
$basic-white: #fff;
$gradient-regular: linear-gradient(135deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(23deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient-red: linear-gradient(310deg, #F0145A 0%, #693264 100%);
$gradient-supersoft: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
$gradient-red-text: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);

/// fonts

$font: 'Montserrat', sans-serif;

@mixin hero-regular {
    font-size: 38px;
    font-weight: 700;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin hero-mobile {
    font-size: 30px;
    font-weight: 700;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin h2-regular {
    color: $main-regular;
    font-size: 30px;
    font-weight: 700;
}

@mixin h3-regular {
    color: $active-regular;
    font-size: 22px;
    font-weight: 700;
}

@mixin h3-caps {
    color: $active-regular;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin h4-regular {
    color: $main-regular;
    font-size: 16px;
    font-weight: 700;
}

@mixin p-regular {
    color: $basic-white;
    font-size: 16px;
    line-height: 26px;
}

@mixin p-small {
    color: $grey-text;
    font-size: 14px;
}

@mixin introduction {
    color: $basic-white;
    line-height: 30px;
}

@mixin list {
    color: $basic-black;
    font-size: 18px;
    line-height: 26px;
}

@mixin link-regular {
    color: $active-regular;
    font-size: 16px;
    line-height: 20px;
}


.header {
    position: static;
}

.bg-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgba(245, 245, 250, 0.2);
    z-index: 0;
}

.nav-link:hover {
    text-decoration: underline;
    color: $accent;
}

.services-intro {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.block-icon-service-entry {
    width: 92px;
    height: 92px;
    padding: 14px;
    border-radius: 24px;
    background: #fff;
}

.service-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background: $gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 28px;
    margin-bottom: 28px;
}

.service-content {
    color: $basic-white;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 30px;
}

.service-content-next {
    color: $basic-white;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 28px;
}

.button-consult {
    padding: 18px 30px;
    border-radius: 12px;
    border: none;
    background-color: $active-regular;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
    color: $basic-white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.spacer-services {
    height: 4px;
    background: rgba(255, 255, 255, 0.50);
}

.services-descr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.services-descr-header {
    color: $basic-white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.services-descr-more {
    color: $basic-white;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services-descr-list-col1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services-descr-list-col2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services-descr-list-item {
    position: relative;
    ;
}

.services-descr-list-item::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $accent;
    position: absolute;
    left: -14px;
    top: 8px;
}

@media (min-width: 768px) {
    .services-intro {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .services-descr-more {
        flex-direction: row;
        gap: 60px;
    }

    .services-descr-list-col1,
    .services-descr-list-col2 {
        width: calc(100%/2 - 60px/2);
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 75%;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1360px;
    }
}