@import url(../styles/reset.css);
@import url(../fonts/stylesheet.css);
@import url(../styles/header.css);
@import url(../styles/footer.css);

/// colors
$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$accent: #F0145A;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$basic-black: #000;
$basic-white: #fff;
$gradient-regular: linear-gradient(135deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(23deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient-red: linear-gradient(310deg, #F0145A 0%, #693264 100%);
$gradient-supersoft: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
$gradient-red-text: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);

// variables
// $cardwidth: 50%;
// $halfgap: 15px;

/// fonts

$font: 'Montserrat', sans-serif;

@mixin hero-regular {
    font-size: 38px;
    font-weight: 700;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin hero-mobile {
    font-size: 30px;
    font-weight: 700;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin h2-regular {
    color: $main-regular;
    font-size: 30px;
    font-weight: 700;
}

@mixin h3-regular {
    color: $active-regular;
    font-size: 22px;
    font-weight: 700;
}

@mixin h3-caps {
    color: $active-regular;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin h4-regular {
    color: $main-regular;
    font-size: 16px;
    font-weight: 700;
}

@mixin p-regular {
    color: $basic-white;
    font-size: 16px;
    line-height: 26px;
}

@mixin p-small {
    color: $grey-text;
    font-size: 14px;
}

@mixin introduction {
    color: $basic-white;
    line-height: 30px;
}

@mixin list {
    color: $basic-black;
    font-size: 18px;
    line-height: 26px;
}

@mixin link-regular {
    color: $active-regular;
    font-size: 16px;
    line-height: 20px;
}


* {
    box-sizing: border-box;
}

body {
    font-family: $font;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    // width: 315px;
    width: 84%;
}

.background-top {
    background: $gradient-supersoft;
    padding-bottom: 60px;
    border-radius: 0px 0px 12px 12px;
}

// .logo {
//     background-image: url(../images/Logo.png);
//     width: 130px;
//     height: 60px;
// }

.cascade1 {
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 89.33%;
    border-radius: 0px 0px 12px 12px;
    background-color: #CACADB;
}

.cascade2 {
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 78.67%;
    border-radius: 0px 0px 12px 12px;
    background-color: #E7E7F2;
}

.team {
    background-color: $grey-bg;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;

}

.team-article {
    padding: 30px;
}

.slider-articles {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.team-photo {
    width: auto;
    height: 500px;
    background-image: url(../images/photo-alexandrovsky.jpg);
    background-size: cover;
    background-position: center;
}

.team-page-link {
    text-decoration: none;
    @include h3-caps;
}

.team-page-link::after {
    content: url(../images/Arrow.png);
    position: relative;
    left: 2px;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.team-short-quote {
    @include hero-mobile;
    background-color: $gradient-red-text;
    margin-top: 10px;
    margin-bottom: 33px;
}

.team-name {
    @include h4-regular;
    color: $grey-text;
}

.team-position {
    @include p-small;
    margin-top: 14px;
}

.slider-buttons {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.slider-article-button {
    border: none;
    background-color: $active-regular;
    opacity: 0.2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.slider-article-button:active {
    opacity: 1;
}

.partners-header {
    @include h3-caps;
    color: $main-regular;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-title {
    text-decoration: none;
    @include h3-caps;
}

.services-title::after {
    content: url(../images/Arrow.png);
    position: relative;
    left: 2px;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.blocks-title {
    @include hero-regular;
    margin-bottom: 30px;
    margin-top: 10px;
}

.block-icon {
    margin-bottom: 30px;
    width: 92px;
    height: 92px;
    padding: 14px;
    border-radius: 24px;
    background: $basic-white;
}

.block-icon img {
    width: 64px;
    height: 64px;
}

.block-title {
    margin-bottom: 15px;
    @include h3-regular;
}

.block-content {
    @include p-regular;
}

.partner {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hillel {
    background-color: #1C4280;

    img {
        width: 217px;
        height: 48px;
    }
}

.wannabiz {
    background-color: #143646;

    img {
        width: 199px;
        height: 32px;
    }
}

.tapgerine {
    background-color: #F48B30;

    img {
        width: 179px;
        height: 44px;
    }
}

.look3d {
    background: #9E4DC3;

    img {
        width: 180px;
        height: 42px;
    }
}

.orangear {
    background-color: #FD9339;

    img {
        width: 174px;
        height: 44px;
    }
}

.adtellige {
    background-color: #E2E2E4;

    img {
        width: 187px;
        height: 48px;
    }
}

.clickky {
    background-color: #C71C36;

    img {
        width: 138px;
        height: 61px;
    }
}

.eco-leasing {
    background-color: #DCF3F9;

    img {
        width: 146px;
        height: 76px;
    }
}

.infratek {
    background-color: #EAEAEA;

    img {
        width: 182px;
        height: 60px;
    }
}

.citypark {
    background-color: #282240;

    img {
        width: 181px;
        height: 38px;
    }
}

.artprint {
    background-color: #1D4568;

    img {
        width: 189px;
        height: 46px;
    }
}

.ultimate-card {
    background-color: #000;

    img {
        width: 152px;
        height: 95px;
    }
}

.publications {
    background-color: $grey-bg;
}

.publications-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}

.publications-link {
    @include h3-caps;
    text-decoration: none;
}

.publications-link::after {
    content: url(../images/Arrow.png);
    position: relative;
    left: 2px;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.publications-header {
    @include hero-mobile;
    margin-top: 5px;
    margin-bottom: 30px;
}

.publications-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 30px;
    justify-content: space-between;
}

.publications-card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: $basic-white;
}

.publications-card-img {
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.publication1 {
    background-image: url(../images/Publication-1.jpg);
}

.publication2 {
    background-image: url(../images/Publication-2.jpg);
}

.publication3 {
    background-image: url(../images/Publication-3.jpg);
}

.publications-card-content {
    padding: 30px;
}

.publications-card-title {
    @include h4-regular;
    color: $active-regular;
    margin-bottom: 15px;
}

.publications-card-date {
    color: $grey-text;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.publications-card-separator {
    background-color: $grey-separator;
    width: 100%;
    height: 4px;
    margin-bottom: 15px;
}

.publications-card-text {
    @include p-small;
    color: $basic-black;

}

.experience {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.experience-heads {
    white-space: nowrap;
    color: $grey-text;
    text-align: right;
    font-size: 38px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.experience-heads::-webkit-scrollbar {
    display: none;
}

.experience-heads h2:active {
    background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-spacer {
    background-color: rgba(255, 255, 255, 0.30);
    width: 100%;
    height: 4px;
}

.experience-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.experience-content h2 {
    color: $basic-white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.experience-content p {
    color: $basic-white;
    font-size: 19px;
    line-height: 30px;
}

.nav-link:hover {
    text-decoration: underline;
    color: $accent;
}

@media (max-width: 768px) {
    .partner:nth-child(n+7) {
        display: none;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 84.375%;
    }

    .blocks {
        flex-direction: row;
        gap: 60px;
        flex-wrap: wrap;
    }

    $blockwidth50: 50%;
    $halfblockgap: 30px;

    .block {
        width: unquote("calc( #{$blockwidth50} - #{$halfblockgap} )");
        ;
    }

    .partners {
        display: flex;
        flex-wrap: wrap;
    }

    .partner {
        width: 33.33%;
    }

    .cascade1 {
        width: 94.79%;
    }

    .cascade2 {
        width: 89.58%;
    }

    .slider-articles {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 60px;
    }

    .team-short-quote {
        @include hero-regular;
        background-color: $gradient-red-text;
    }

    .publications-header {
        @include hero-regular;
        margin-top: 10px;
    }

    .publications-content {
        padding-left: 60px;
        padding-right: 60px;
    }

    $cardwidth50: 50%;
    $halfgap: 15px;

    .publications-card {
        width: unquote("calc( #{$cardwidth50} - #{$halfgap} )");
    }

    .publications-card:last-of-type {
        width: 100%;
    }

    .experience {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 60px;
    }

}

@media (min-width: 1024px) {
    .wrapper {
        width: 904px;
        width: 88.28125%;
    }

    $blockwidth32: 32%;
    $halfblockgap: 30px;

    .block {
        width: unquote("calc( #{$blockwidth32} - #{$halfblockgap} )");
        ;
    }

    .partner {
        width: 25%;
    }

    .cascade1 {
        width: 96.09%;
    }

    .cascade2 {
        width: 92.19%;
    }

    .team-photo {
        height: auto;
        width: 400px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .team {
        display: flex;
        flex-direction: row;
    }

    $cardwidth33: 33%;
    $halfgap: 15px;

    .publications-card {
        width: unquote("calc( #{$cardwidth33} - #{$halfgap} )");
    }

    .publications-card:last-of-type {
        width: unquote("calc( #{$cardwidth33} - #{$halfgap} )");
    }

    .experience {
        display: flex;
        flex-direction: row;
    }

    .experience-spacer {
        width: 4px;
        height: 303px;
    }

    .experience-heads {
        flex-direction: column;
        gap: 30px;
        overflow: visible;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 91.6667%;
    }

    .block {
        width: 400px;
    }

    .cascade1 {
        width: 97.22%;
    }

    .cascade2 {
        width: 94.44%;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
        width: 83.334%;
    }

    .block {
        width: 493px;
    }

    .partners {
        width: 1720px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        border-radius: 15px;
        overflow: hidden;
    }

    .cascade1 {
        width: 97.92%;
    }

    .cascade2 {
        width: 95.83%;
    }

    .slider-articles {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;

    }

    .publications-content {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .experience-content p {
        white-space: nowrap;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .experience-content p::-webkit-scrollbar {
        display: none;
    }
}