@import url(../styles/reset.css);
@import url(../fonts/stylesheet.css);

/// colors
$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$accent: #F0145A;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$black: #000;
$basic-white: #fff;
$gradient-regular: linear-gradient(135deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(23deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient-red: linear-gradient(310deg, #F0145A 0%, #693264 100%);
$gradient-supersoft: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
$gradient-red-text: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);

/// fonts

$font: 'Montserrat', sans-serif;

@mixin hero-regular {
    font-size: 38px;
    font-weight: 700;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin h2-regular {
    color: $main-regular;
    font-size: 30px;
    font-weight: 700;
}

@mixin h3-regular {
    color: $active-regular;
    font-size: 22px;
    font-weight: 700;
}

@mixin h3-caps {
    color: $active-regular;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin h4-regular {
    color: $main-regular;
    font-size: 16px;
    font-weight: 700;
}

@mixin p-regular {
    color: $basic-white;
    font-size: 16px;
    line-height: 26px;
}

@mixin introduction {
    color: $basic-white;
    line-height: 30px;
}

@mixin list {
    color: $black;
    font-size: 18px;
    line-height: 26px;
}

@mixin link-regular {
    color: $active-regular;
    font-size: 16px;
    line-height: 20px;
}


* {
    box-sizing: border-box;
}

body {
    font-family: $font;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 315px;
}

.background-top {
    background: $gradient-supersoft;
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-title {
    text-decoration: none;
    @include h3-caps;
}

.services-title::after {
    content: url(../images/Arrow.png);
    position: relative;
    left: 2px;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.blocks-title {
    @include hero-regular;
    margin-bottom: 30px;
    margin-top: 10px;
}

.block-icon {
    margin-bottom: 30px;
    width: 92px;
    height: 92px;
    padding: 14px;
    border-radius: 24px;
    background: $basic-white;
}

.block-icon img {
    width: 64px;
    height: 64px;
}

.block-title {
    margin-bottom: 15px;
    @include h3-regular;
}

.block-content {
    @include p-regular;
}

.partner {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hillel {
    background-color: #1C4280;

    img {
        width: 217px;
        height: 48px;
    }
}

.wannabiz {
    background-color: #143646;

    img {
        width: 199px;
        height: 32px;
    }
}

.tapgerine {
    background-color: #F48B30;

    img {
        width: 179px;
        height: 44px;
    }
}

.look3d {
    background: #9E4DC3;

    img {
        width: 180px;
        height: 42px;
    }
}

.orangear {
    background-color: #FD9339;

    img {
        width: 174px;
        height: 44px;
    }
}

.adtellige {
    background-color: #E2E2E4;

    img {
        width: 187px;
        height: 48px;
    }
}

.clickky {
    background-color: #C71C36;

    img {
        width: 138px;
        height: 61px;
    }
}

.eco-leasing {
    background-color: #DCF3F9;

    img {
        width: 146px;
        height: 76px;
    }
}

.infratek {
    background-color: #EAEAEA;

    img {
        width: 182px;
        height: 60px;
    }
}

.citypark {
    background-color: #282240;

    img {
        width: 181px;
        height: 38px;
    }
}

.artprint {
    background-color: #1D4568;

    img {
        width: 189px;
        height: 46px;
    }
}

.ultimate-card {
    background-color: #000;

    img {
        width: 152px;
        height: 95px;
    }
}


@media (max-width: 768px) {
    .partner:nth-child(n+7) {
        display: none;
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 648px;
    }

    .blocks {
        flex-direction: row;
        gap: 60px;
        flex-wrap: wrap;
    }

    .block {
        width: 294px;
    }

    .partners {
        display: flex;
        flex-wrap: wrap;
    }

    .partner {
        width: 33.33%;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: 904px;
    }

    .block {
        width: 261px;
    }

    .partner {
        width: 25%;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        width: 1320px;
    }

    .block {
        width: 400px;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        width: 1600px;
    }

    .block {
        width: 493px;
    }

    .partners {
        width: 1720px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

}