@import url(../styles/reset.css);
@import url(../fonts/stylesheet.css);
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 315px;
}

.background-top {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643E72 100%);
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services-title {
  text-decoration: none;
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services-title::after {
  content: url(../images/Arrow.png);
  position: relative;
  left: 2px;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.blocks-title {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  margin-top: 10px;
}

.block-icon {
  margin-bottom: 30px;
  width: 92px;
  height: 92px;
  padding: 14px;
  border-radius: 24px;
  background: #fff;
}

.block-icon img {
  width: 64px;
  height: 64px;
}

.block-title {
  margin-bottom: 15px;
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
}

.block-content {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.partner {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hillel {
  background-color: #1C4280;
}
.hillel img {
  width: 217px;
  height: 48px;
}

.wannabiz {
  background-color: #143646;
}
.wannabiz img {
  width: 199px;
  height: 32px;
}

.tapgerine {
  background-color: #F48B30;
}
.tapgerine img {
  width: 179px;
  height: 44px;
}

.look3d {
  background: #9E4DC3;
}
.look3d img {
  width: 180px;
  height: 42px;
}

.orangear {
  background-color: #FD9339;
}
.orangear img {
  width: 174px;
  height: 44px;
}

.adtellige {
  background-color: #E2E2E4;
}
.adtellige img {
  width: 187px;
  height: 48px;
}

.clickky {
  background-color: #C71C36;
}
.clickky img {
  width: 138px;
  height: 61px;
}

.eco-leasing {
  background-color: #DCF3F9;
}
.eco-leasing img {
  width: 146px;
  height: 76px;
}

.infratek {
  background-color: #EAEAEA;
}
.infratek img {
  width: 182px;
  height: 60px;
}

.citypark {
  background-color: #282240;
}
.citypark img {
  width: 181px;
  height: 38px;
}

.artprint {
  background-color: #1D4568;
}
.artprint img {
  width: 189px;
  height: 46px;
}

.ultimate-card {
  background-color: #000;
}
.ultimate-card img {
  width: 152px;
  height: 95px;
}

@media (max-width: 768px) {
  .partner:nth-child(n+7) {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 648px;
  }
  .blocks {
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
  }
  .block {
    width: 294px;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
  }
  .partner {
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 904px;
  }
  .block {
    width: 261px;
  }
  .partner {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1320px;
  }
  .block {
    width: 400px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    width: 1600px;
  }
  .block {
    width: 493px;
  }
  .partners {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
